@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

body{
 font-family: 'Lato','fantasy', 'sans-serif';
 color: #333;
 line-height: 1.5;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1,
h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }
  
  .navbar a:hover {
    border-bottom: 2px #fff solid;
  }
  
  .navbar .flex {
    justify-content: space-between;
  }
  

  /*showcase*/
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 2px 0;
}

.showcase h2{
    margin: 20px 0;
}

.showcase .grid{
    grid-template-columns: 55% auto;
    gap: 30px;
    overflow: visible;
}

.showcase-text{
    animation: slideInFromLeft 1s ease-in;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form :focus{
    outline:  none;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']{
    border: 0px;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px; 
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px; 
    border: none;

}
.btn-outline{
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover{
    transform: scale(0.98);
}

.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
}

.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in; 
}

.grid-3{
    grid-template-columns: repeat(3, 1fr);
}

.text-center{
    text-align: center;
}

.py-1{
    margin: 1rem 0;
}

.py-2{
    margin: 1.5rem 0;
}

.py-3{
    margin: 2rem 0;
}

.py-4{
    margin: 3rem 0;
}

.py-5{
    margin: 4rem 0;
}


.m-1{
    margin: 1rem;
}

.m-2{
    margin: 1.5rem;
}

.m-3{
    margin: 2rem;
}

.m-4{
    margin: 3rem;
}

.m-5{
    margin: 4rem;
}


/* margins */
.my-1{
    margin: 1rem 0;
}
.my-2{
    margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0; 
}
.my-5{
    margin: 4rem 0;
}
/* padding */

.py-1{
    padding: 1rem 0;
}

.py-2{
    padding: 1.5rem 0;
}

.py-3{
    padding: 2rem 0;
}

.py-4{
    padding: 3rem 0;
}

.py-5{
    padding: 4rem 0;
}


.p-1{
    padding: 1rem;
}

.p-2{
    padding: 1.5rem;
}

.p-3{
    padding: 2rem;
}

.p-4{
    padding: 3rem;
}

.p-5{
    padding: 4rem;
}


.stats-heading{
    max-width: 500px;
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}

/* cli */
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* cloud */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

/* backgrounds & colored buttons */
.bg-primary,
.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary,
.btn-secondary{
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark,
.btn-dark{
    background-color: var(--dark-color);
    color: #fff;
}

.bg-light,
.btn-light{
    background-color: var(--light-color);
    color: #333;
}

.bg-light a,
.btn-light a,
.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a{
    color: #fff;
}



/* text sizes*/
.lead{
    font-size: 20px;
}

.sm{
    font-size: 1rem;
}

.md{
    font-size: 2rem;
}

.lg{
    font-size: 3rem;
}

.xl{
    font-size: 4rem;
}

.languages .flex{
    flex-wrap: wrap;
}
/* languages */
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card h4{
    font-size: 20px;
    margin-top: 10px;
}

.languages  .card:hover{
    transform: translateY(-15px);
}


/* footer social*/
.footer .social a{
    margin: 0 10px;
}




/*features*/
.features-head img,
.docs-head img{
    width: 200px;
    justify-self: flex-end;

}
.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
}
.features-head{
    margin: 0;
}

.features-sub-head{
    margin: 0;
}
.footer{
    margin: 0;
}

.features-main .card > i{
    margin-right: 20px;
}

.features-main .grid{
    padding: 30px;
}


.features-main .grid > *:first-child{
    grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2){
    grid-column: 1 / span 2;
}

.docs-head{
    margin: 0px;
}

.docs-main h3{
    margin: 20px 0;
}


.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
    font-size: 14px;
}

.docs-main a:hover{
    font-weight: bold;
}

.alert{
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 20px 0;
}

.alert i{
    margin-right: 8px;
}

.alert-success{
    background-color: var(--success-color);
    color: #fff;
}

.alert-error{
    background-color: var(--error-color);
    color: #fff;
}

pre, code{
    background: #333;
    color: #fff;
    padding: 10px;
}

.text-primary{
    color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}

.text-dark{
    color: var(--dark-color);
}

.text-light{
    color: var(--light-color);
}


/* Animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(+100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom{
    0%{
        transform: translateY(+100%);
    }
    100%{
        transform: translateX(0);
    }
}

/* Tablets and under */
@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  
    .showcase {
      height: auto;
    }
  
    .showcase-text {
      text-align: center;
      margin-top: 40px;
      animation: slideInFromTop 1s ease-in;
    }
  
    .showcase-form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }
  
    .cli .grid > *:first-child {
      grid-column: 1;
      grid-row: 1;
    }
  
    .features-head,
    .features-sub-head,
    .docs-head {
      text-align: center;
    }
  
    .features-head img,
    .features-sub-head img,
    .docs-head img {
      justify-self: center;
    }
  
    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
      grid-column: 1;
    }
  }
  
  /* Mobile */
  @media (max-width: 500px) {
    .navbar {
      height: 110px;
    }
  
    .navbar .flex {
      flex-direction: column;
    }
  
    .navbar ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    .showcase-form {
      width: 300px;
    }
  }

